.search {

    width: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {

    
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    width: 220px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {

    border: 0;
    outline: 0;
    padding: 20px;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {

    width: 16px;
}

.details {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-left: 5px;
}



.col-1 {

    margin-left: -30px;
    margin-right: 30px;

}